<!DOCTYPE html>
<html lang=en>
  <head>
    {{ template "head.html" }}
  </head>
  <title>
    {{ index .Meta "title" }}
  </title>
  <body>
  <main>
    <header>
      <div class="logo">
      <a href=/>
        <img src="/static/logo.png" alt="forlater.email logo" height="100" width="100"/>
      </a>
      </div>
      <h1 class="big">forlater<span style="color:
                 #509c93">.email</span><span style="font-size:
                         24px"> (beta)</span></h1>
      <h2 class="subbig">{{ index .Meta "subtitle" }}</h2>
    </header>
    <article align="left">
      {{ .Body }}
    </article>
  </main>
  <!--  <footer>
    {{ template "footer.html" }}
    </footer>!-->
</body>

</html>
